[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-transmissionremote
Exec=harbour-transmissionremote %U
Name=Transmission Remote
MimeType=application/x-bittorrent;
# translation example:
# your app name in German locale (de)
Name[de]=Transmission Remote

